@(correctFormat: models.Format.Format,
incorrectFormat: models.Format.Format,
summarizedStat: models.database.SummarizedStat)

<li class="list-group-item">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 text-right">
            <span class="label label-primary">
                vs. @{models.Format.displayLabelFor(incorrectFormat)}
            </span>
        </div>
        <div class="col-md-8">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: @{"%1.0f" format math.ceil((summarizedStat.correct.toFloat/summarizedStat.guesses.toFloat) * 100f)}%">@{"%1.0f" format math.ceil((summarizedStat.correct.toFloat/summarizedStat.guesses.toFloat) * 100f)}% correct</div>
                <div class="progress-bar progress-bar-danger" style="width: @{"%1.0f" format math.floor((1f - summarizedStat.correct.toFloat/summarizedStat.guesses.toFloat) * 100f)}%"></div>
            </div>
        </div>
    </div>
</li>
